@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  #wrapper {
  }
  .dust {
    z-index: 4;
    -moz-animation-name: dust;
    -ms-animation-name: dust;
    -o-animation-name: dust;
    -webkit-animation-name: dust;
    animation-name: dust;
  }
  @keyframes dust {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(2) translateX(10px) translateY(0px);
      filter: blur(2px);
    }
  }
}
